<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="env_name" default="room100" />

  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="vel_control" default="false"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find mm_gazebo)/worlds/mm.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>
  
  <include file="$(find mm_gazebo)/worlds/$(arg env_name).launch.xml">
    <arg name="init_pos_x" value="0" />
    <arg name="init_pos_y" value="0" />
    <arg name="init_pos_z" value="0.01" />
  </include>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description"
	 command="$(find xacro)/xacro.py '$(find mm_description)/urdf/mobile_manipulator.urdf.xacro'" unless="$(arg vel_control)"/>
  <param name="robot_description"
	 command="$(find xacro)/xacro.py '$(find mm_description)/urdf/mobile_manipulator_vel_control.urdf.xacro'" if="$(arg vel_control)"/>

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
	args="-urdf -model mobile_manipulator -param robot_description -x 7.0 -y 6.0 -z 0.0"/>
	
  <include file="$(find mm_gazebo)/launch/controller_utils.launch"/>

  <rosparam file="$(find mm_gazebo)/controller/arm_controller_ur5.yaml" command="load" unless="$(arg vel_control)"/>
  <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn arm_controller" respawn="false" output="screen" unless="$(arg vel_control)"/>
  

  <rosparam file="$(find mm_gazebo)/controller/arm_vel_controller_ur5.yaml" command="load" if="$(arg vel_control)"/>
  <node name="arm_vel_controller_spawner" pkg="controller_manager" type="controller_manager" 
        args="spawn arm_shoulder_pan_joint_vel_controller
              arm_shoulder_lift_joint_vel_controller
              arm_elbow_joint_vel_controller
              arm_wrist_1_joint_vel_controller
              arm_wrist_2_joint_vel_controller
              arm_wrist_3_joint_vel_controller" 
        respawn="false" output="screen" if="$(arg vel_control)"/>

  <!--rosparam file="$(find mm_gazebo)/controller/mobile_base_controller.yaml"/-->
  <!--node name="mobile_base_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false"
	output="screen" ns="/mobile_base" args="spawn wheel1_velocity_controller wheel2_velocity_controller wheel3_velocity_controller wheel4_velocity_controller"/-->
</launch>
