<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="mm" >
       
  <property name="arm_prefix" value="arm_" /> <!-- I need name mobile base as base_link for navigation, so it will conflict with ur base link if prefix is not set. -->
  <property name="PI" value="3.1415926" />
  <!-- common stuff -->
  <xacro:include filename="$(find mm_description)/urdf/mobile_manipulator_vel_control.gazebo.xacro" />

  <!-- ur5 -->
  <xacro:include filename="$(find mm_description)/urdf/ur5/ur5_vel_control.urdf.xacro" />

  <!-- mobile base -->
  <xacro:include filename="$(find mm_description)/urdf/mobile_base/mobile_base_vel_control.xacro" />
  
  <!-- gripper -->
  <xacro:include filename="$(find robotiq_85_description)/urdf/mm_robotiq_85_gripper.urdf.xacro" />
  
  <!-- arm -->
  <xacro:ur5_robot prefix="${arm_prefix}" joint_limited="true"/>
  <xacro:mobile_base />
  
  <xacro:robotiq_85_gripper prefix="" parent="${arm_prefix}tool0" >
      <origin xyz="0.0 0 0.006" rpy="0 ${-PI/2} 0"/>
  </xacro:robotiq_85_gripper>  

  <joint name="base_link_2_${arm_prefix}base_link" type="fixed">
    <parent link="base_link" />
    <child link="${arm_prefix}base_link" />
    <origin xyz="0.40 0 0.823" rpy="0 0 -1.5708" />
  </joint>
  
  
  <link name="xtion1_frame">
      <inertial>
        <mass value="1e-5" />
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
      </inertial>

      <visual>
        <origin xyz="0.0 0.0 0" rpy="1.57 0 1.57" />
        <geometry>
          <mesh filename="package://mm_description/meshes/sensors/asus_xtion_pro_live_camera.dae" scale="0.001 0.001 0.001"/>
        </geometry>
        
      </visual>

      <collision>
        <origin xyz="0.0 0.0 0" rpy="1.57 0 1.57" />
        <geometry>
           <mesh filename="package://mm_description/meshes/sensors/asus_xtion_pro_live_camera.dae" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
  </link>

  <joint name="${arm_prefix}base_link_2_xtion1_frame" type="fixed">
	<parent link="${arm_prefix}base_link"/>
	<child link="xtion1_frame"/>
	<origin xyz="-0.2741575 0.0807695 0.779517" rpy="-0.369 0.825 1.119"/>
  </joint>
  
  <joint name="xtion1_frame_2_xtion1_optical_frame" type="fixed">
    <parent link="xtion1_frame" />
    <child link="xtion1_optical_frame" />
    <origin xyz="0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}" />
  </joint>
  
  <link name="xtion1_optical_frame" />

  <xacro:kinect_camera_gazebo_v0 name="xtion1" />
  
  <link name="camera_base_link">
      <inertial>
        <mass value="1e-5" />
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
            <mesh filename="package://mm_description/meshes/sensors/camera_base.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
            <mesh filename="package://mm_description/meshes/sensors/camera_base.dae"/>
        </geometry>
      </collision>
  </link>
  <joint name="${arm_prefix}tool0_2_camera_base_link" type="fixed">
    <parent link="${arm_prefix}tool0" />
    <child link="camera_base_link" />
    <origin xyz="0 0 0" rpy="0 1.57 0.785" />
  </joint>
  
  
  
  
  <link name="xtion2_frame">
      <inertial>
        <mass value="1e-5" />
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
      </inertial>

      <visual>
        <origin xyz="0.0 0.0 0" rpy="1.57 0 1.57" />
        <geometry>
          <mesh filename="package://mm_description/meshes/sensors/asus_xtion_pro_live_camera.dae" scale="0.001 0.001 0.001"/>
        </geometry>
        
      </visual>

      <collision>
        <origin xyz="0.0 0.0 0" rpy="1.57 0 1.57" />
        <geometry>
           <mesh filename="package://mm_description/meshes/sensors/asus_xtion_pro_live_camera.dae" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
  </link>

  <joint name="${arm_prefix}base_link_2_xtion2_frame" type="fixed">
	<parent link="${arm_prefix}tool0"/>
	<child link="xtion2_frame"/>
	<origin xyz="-0.114 0 0.016" rpy="0 -1.57 0"/>
  </joint>
  
  <joint name="xtion2_frame_2_xtion2_optical_frame" type="fixed">
    <parent link="xtion2_frame" />
    <child link="xtion2_optical_frame" />
    <origin xyz="0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}" />
  </joint>
  
  <link name="xtion2_optical_frame" />

  <xacro:kinect_camera_gazebo_v0 name="xtion2" />
</robot>
















